.navbar-custom{
    background-color: #A5F1E9;
}
.side{
    height: 100vh;
    width : 100%;
    display: grid;
    place-items: center;
    overflow:hidden;
    position: absolute;
}
.side .welcome-title{
    color: black;
    font-family: "Rubik",sans-serif;
    font-size: 8vw;
    margin: 0px 10vw;
    width: 70vw;
}
#left-side{
    background-color: var(--purple);
    z-index: 2;
}
#right-side{
    background-color: var(--yellow);
}